body{
    padding: 0px;
    margin: 0 auto;
    background-color: lightgray;
}
header{
    height: 100px;
    background-color: red;
}
nav{
    line-height: 30px;
    background-color: yellow;
}
.container>div>*{
    min-height: 300px;
    background-color: blue;
}
.container>div>article{
    background-color: cyan;
}
footer{
    height: 50px;
    background-color: gray;
}