body{
    width: auto;
    height: 100vh;
}
.container{
    border: 3px solid black;
    width: 600px;
    height: 380px;
    margin: auto;
}
.container .render{
    margin: 15px;
}
h3{
    text-align: center;
}
.container .render .render-1 input{
    width: 90%;
    height: 20px;
    background-color: brown;
    color: white;
    margin: 4px;
}
.container .render .render-3 select{
    width: 90%;
    height: 30px;
    background-color: brown;
    color: white;
    margin: 4px;
}
em{
    color: orangered;
}
label{
    color: blue;
    font-size: large;
}
button{
    background-color: brown;
    color: yellow;
    width: 120px;
    height: 40px;
    margin-top: 10px;
}
button:hover{
    background-color: black;
    color: white;
}