.vmenu{
    list-style: none;
    padding: 0px;
    border-radius: 3px;
    box-shadow: 0 0 2px gray;
    margin: 5px;
    width: 200px;
}
.vmenu a{
    display: block;
    border-bottom: 1px dotted orangered;
    color: orangered;
    font-variant: small-caps;
    font-size: large;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}
.vmenu a:hover{
    border-bottom: 1px dotted white;
    background-color: orangered;
    color: white;
    font-weight: bold;
}