<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body ng-app="myapp">


    <div class="container" ng-controller="myctrl">
        <div class="card text-center">
            <div class="card-header">
                <h1>Danh mục sản phẩm</h1>
            </div>
            <div class="card-body">
                <ol>
                    <li ng-repeat="dm in danhmucs">{{dm}}
                    <button ng-click="delete()">Xóa</button></li>
                    <li><input type="text" ng-model="danhmuc"><button
                            ng-click="insert()">Thêm</button></li>
                </ol>
            </div>
        </div>

    </div>

    <script>
        var app = angular.module("myapp", []);
        app.controller("myctrl", myfunc);
        function myfunc($scope) {
            $scope.danhmucs = [
                "Di động",
                "Phụ kiện",
            ]

            $scope.danhmuc = {};
            $scope.inedx = -1;

            $scope.insert = function () {
                $scope.danhmucs.push(angular.copy($scope.danhmuc));
            }

            $scope.delete = function(){
                $scope.danhmucs.splice($scope.inedx, 1);
            }
        }

    </script>
</body>

</html>