<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body ng-app="myapp">
    <div class="container" ng-controller="bai1">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h3 class="text-success">Danh sách sản phẩm</h3>
                <h3>Phạm Thế Tình</h3>
            </div>
            <div class="card-body" ng-controller="bai1">
                <table class="table table-bordered text-center">
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Giảm giá</th>
                        <th>Ngày</th>
                        <th>Tiền VN</th>
                    </tr>
                    <tr ng-if="$index >= 1" ng-repeat="p in listsanpham | limitTo:6">
                        <td>{{p.name | uppercase}}</td>
                        <td>{{p.price | currency}}</td>
                        <td>{{p.discount| percentageFilter }}</td>
                        <td>{{p.date | date:"dd/MM/yyyy"}}</td>
                        <td>{{(p.price - p.price*p.discount)*tygia | number:0}} VNĐ</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module("myapp", []);
        app.controller("bai1", function ($scope, $http) {
            $scope.listsanpham = [];
            $http.get("Prods.js").then(
                function (d) { $scope.listsanpham = d.data },
                function (e) { alert('Lỗi: ' + e.statusText) }
            )
            $scope.tygia = 25000;
        });

        app.filter('percentageFilter', ['$filter', function ($filter) {
            return function (input) {
                return $filter('number')(input * 100, 2) + '%';
            };
        }]);
    </script>
</body>

</html>