<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&family=Rubik+Glitch&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="build/tailwind.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0"
        nonce="10QhLNSL"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0"
        nonce="mZ2J1Tst"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="offcanvas offcanvas-end" id="demo1">
            <div class="offcanvas-header mx-3">
                <h1 class="offcanvas-title text-xl">Giỏ hàng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <hr class="mx-3">
            <div class="offcanvas-body my-2" >
                <div class="row mb-3 d-flex align-items-center" ng-repeat="item in cart">
                    <img src="img/SapPham/{{item.img}}" class=" col-2 w-28 flex-grow-0">
                    <h1 class="col-4 text-base flex-shrink-0">{{item.name}}</h1>
                    <input type="number" value="1" min="0" max="99" ng-model="item.quantity" ng-change="updateTotal(item)"
                        class="border border-dark rounded-xl text-center h-7 col-2 flex-shrink-1">
                    <h1 class="col-2 text-sm flex-shrink-2">{{item.total | currency}}</h1>
                </div>
                
            </div>
            <hr>
            <div class="d-flex justify-between mt-2 mx-3">
                <h1 class="font-bold text-lg">Tổng tiền: </h1>
                <h1 class="font-semibold text-lg">{{ calculateTotal() | currency }}</h1>
            </div>
            <div class="container-fluid mt-2">
                <a class="btn btn-dark w-full" ng-click="proceedToCheckout()">Thanh toán</a>
            </div>
        </div>

        
        <header>
            <div class="row">

                <img class="col-12" src="img/LienHe/bg.png">

            </div>
    </div>
    </header>
    <article>

        <div class="text-center mt-5 mb-3">
            <h1 class="text-3xl font-bold">Vì sao lựa chọn MenStore?</h1>
        </div>

        <div class="grid grid-cols-2 lg:grid-cols-4 gap-x-5 mx-5 my-4">
            <div class="card bg-pink-100 rounded-2xl p-4 border-0">
                <div class="card-img d-flex justify-center mt-3">
                    <img src="img/LienHe/1.png" alt="">
                </div>
                <div class="card-title">
                    <h1 class="text-center my-3 text-2xl font-bold">Chất lượng đảm bảo</h1>
                    <p class="text-sm text-center mt-2">Các sản phẩm thuộc dự án CoolxPrint được sản xuất theo tiêu
                        chuẩn như các sản phẩm tương tự của
                        Coolmate</p>
                </div>

            </div>

            <div class="card bg-pink-100 rounded-2xl p-4 border-0">
                <div class="card-img d-flex justify-center mt-3">
                    <img src="img/LienHe/2.png" alt="">
                </div>
                <div class="card-title">
                    <h1 class="text-center my-3 text-2xl font-bold">Dịch vụ tận tâm</h1>
                    <p class="text-sm text-center mt-2">CoolxPrint cam kết đem đến trải nghiệm 100% hài lòng với mọi
                        khách hàng. Nếu không hài lòng, chúng tôi sẽ hoàn trả lại tiền cho bạn.</p>
                </div>

            </div>

            <div class="card bg-pink-100 rounded-2xl p-4 border-0">
                <div class="card-img d-flex justify-center mt-3">
                    <img src="img/LienHe/3.png" alt="">
                </div>
                <div class="card-title">
                    <h1 class="text-center my-3 text-2xl font-bold">In với số lượng ít</h1>
                    <p class="text-sm text-center mt-2">Nhờ chuỗi cung ứng sản xuất mạnh và linh hoạt, CoolxPrint sẵn
                        sàng hỗ trợ bạn sản xuất, in mới, với số lượng từ 1 cho tới hàng vạn chiếc.

                    </p>
                </div>

            </div>

            <div class="card bg-pink-100 rounded-2xl p-4 border-0">
                <div class="card-img d-flex justify-center mt-3">
                    <img src="img/LienHe/4.png" alt="">
                </div>
                <div class="card-title">
                    <h1 class="text-center my-3 text-2xl font-bold">Xử lý nhanh chóng</h1>
                    <p class="text-sm text-center mt-2">Chủ động sản xuất và in với số lượng ít chỉ trong 24h và giao
                        hàng toàn quốc. CoolxPrint đã có kỷ lục sản xuất 1000 chiếc áo trong vòng 24 tiếng

                    </p>
                </div>

            </div>
        </div>

        <div class="m-5 bg-blue-700 h-96 py-14 px-9 card rounded-2xl border-0 row gap-x-2 ">
            <div class="card bg-white col-2 h-full rounded-2xl p-4">
                <h1 class="mt-1 text-4xl font-medium text-blue-700 leading-tight">MenStore hoạt động như thế nào?</h1>
                <p class="text-gray-500 my-2">Chưa bao giờ dễ đến thế</p>
                <button class="btn btn-primary w-2/4 rounded-xl p-2">Mua ngay</button>
            </div>
            <div class="col-2 h-full border-0 card bg-blue-700 relative">
                <div class="card-img d-flex justify-center mt-4"><img src="img/LienHe/5.png" alt=""></div>
                <div class="card-title">
                    <h1 class="text-center my-3 text-2xl font-bold text-white">Tiếp nhận yêu cầu</h1>
                    <p class="text-sm text-center mt-2 text-white mx-3">Gửi yêu cầu trực tiếp hoặc qua Hotline:
                        0339444203</p>
                </div>
                <div class="absolute" style="top: 30%; right: -17%;">
                    <i class="bi bi-arrow-right-circle-fill text-white text-2xl"></i>
                </div>
            </div>

            <div class="col-2 h-full border-0 card bg-blue-700 relative">
                <div class="card-img d-flex justify-center mt-4"><img src="img/LienHe/6.png" alt=""></div>
                <div class="card-title">
                    <h1 class="text-center my-3 text-2xl font-bold text-white">Tư vấn thiết kế</h1>
                    <p class="text-sm text-center mt-2 text-white mx-3">Lên thiết kế, chào mẫu theo yêu cầu để khách
                        hàng duyệt
                    </p>
                </div>
                <div class="absolute" style="top: 30%; right: -17%;">
                    <i class="bi bi-arrow-right-circle-fill text-white text-2xl"></i>
                </div>
            </div>

            <div class="col-2 h-full border-0 card bg-blue-700 relative">
                <div class="card-img d-flex justify-center mt-4"><img src="img/LienHe/7.png" alt=""></div>
                <div class="card-title">
                    <h1 class="text-center my-3 text-2xl font-bold text-white">Gửi báo giá</h1>
                    <p class="text-sm text-center mt-2 text-white mx-3">Được gửi ngay sau khi thống nhất mẫu (thường là
                        24h)
                    </p>
                </div>
                <div class="absolute" style="top: 30%; right: -13%;">
                    <i class="bi bi-arrow-right-circle-fill text-white text-2xl"></i>
                </div>
            </div>
            <div class="col-2 h-full border-0 card bg-blue-700">
                <div class="card-img d-flex justify-center mt-4"><img src="img/LienHe/8.png" alt=""></div>
                <div class="card-title">
                    <h1 class="text-center my-3 text-2xl font-bold text-white">Giao hàng và cảm ơn</h1>
                    <p class="text-sm text-center mt-2 text-white mx-3">Giao hàng toàn quốc và thường là miễn phí cước
                    </p>
                </div>
            </div>


        </div>

        <div class="d-flex justify-center card mb-5">
            <div>
                <img src="img/LienHe/bg1.jpg" class="img-fluid card-img-top">
            </div>
            <div class="d-flex flex-col card-img-overlay justify-center ml-28 pb-14">
                <h1 class="text-white mb-5 font-light text-5xl">Nhà máy của chúng tôi</h1>
                <h1 class="my-2 text-xs font-light sm:text-2xl text-white w-2/4">​Để có một chiếc áo đẹp thì điều
                    đầu tiên cần có là một miếng vải đẹp. Chỉ có quản lý được từ gốc của quá trình sản xuất thì mới có
                    thể làm ra được những sản phẩm chất lượng.
                </h1>
                <button class="btn btn-primary text-base w-20 rounded-full h-14 mt-6 p-2 sm:w-56">Nhà máy
                    MenStore</button>
            </div>
        </div>

        <div class="m-5 bg-blue-700 py-14 px-9 rounded-2xl border-0 row d-flex justify-between ">
            <div class="col-5 py-52 mx-28">
                <h1 class="text-white text-3xl ">Nếu bạn có bất kì thắc mắc gì về sản phẩm, đừng ngại liên lạc với chúng
                    tôi nhé!</h1>
                <div class="grid grid-cols-2 my-10">
                    <div class="d-flex align-items-center">
                        <div class="col-sm-2 flex-shrink-0">
                            <i class="bi bi-telephone text-white text-2xl"></i>
                        </div>
                        <div class="col-sm-10 flex-grow-1 text-white">
                            <span class="block font-light text-sm ">Hotline</span>
                            <p>
                                <a href="#" class="text-base text-decoration-none">1900.1830</a>
                            </p>

                        </div>
                    </div>

                    <div class="d-flex align-items-center">
                        <div class="col-sm-2 flex-shrink-0">
                            <i class="bi bi-envelope-arrow-down text-white text-2xl"></i>
                        </div>
                        <div class="col-sm-10 flex-grow-1 text-white">
                            <span class="block font-light text-sm ">Email</span>
                            <p>
                                <a href="#" class="text-base text-decoration-none">phamthetinhcop1312@gmail.com</a>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="grid grid-cols-2 gap-x-10 text-white">
                        <a href="" class="border rounded-xl py-2 row d-flex align-items-center w-3/4">
                            <img src="img/LienHe/zalo.png" class="col-4 w-16 flex-shrink-0">
                            <p class="col-8 flex-grow-1">Liên hệ MenStore <br> qua Zalo</p>
                        </a>

                        <a href="" class="border rounded-xl py-2 row d-flex align-items-center w-3/4">
                            <img src="img/LienHe/fb.png" class="col-4 w-16 flex-shrink-0">
                            <p class="col-8 flex-grow-1">Fanpage của MenStore</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-4 card border-0 mr-20 rounded-3xl">
                <div>

                    <form class="mt-16 px-5">
                        <h1 class="text-blue-700 font-bold text-2xl text-center mb-5">Gửi yêu cầu cho MenStore</h1>
                        <input type="text" placeholder="họ tên của bạn" class="w-full h-14 rounded-xl border-0 pl-5 py-2 text-gray-900 shadow-md ring-1 ring-inset ring-gray-300 placeholder:text-black focus:ring-2 focus:ring-inset
                             focus:ring-indigo-600 sm:text-md sm:leading-6 mb-4">
                        <input type="number" placeholder="số điện thoại của bạn" class="w-full h-14 rounded-xl border-0 pl-5 py-2 text-gray-900 shadow-md ring-1 ring-inset ring-gray-300 placeholder:text-black focus:ring-2 focus:ring-inset
                              focus:ring-indigo-600 sm:text-md sm:leading-6 mb-4">
                        <input type="email" placeholder="email của bạn" class="w-full h-14 rounded-xl border-0 pl-5 py-2 text-gray-900 shadow-md ring-1 ring-inset ring-gray-300 placeholder:text-black focus:ring-2 focus:ring-inset
                             focus:ring-indigo-600 sm:text-md sm:leading-6 mb-4">
                        <textarea class="w-full rounded-xl border-0 pl-5 py-2 text-gray-900 shadow-md ring-1 ring-inset ring-gray-300 placeholder:text-black focus:ring-2 focus:ring-inset
                        focus:ring-indigo-600 sm:text-md sm:leading-6 mb-4" id="exampleFormControlTextarea1"
                            rows="6" placeholder="góp ý của bạn"></textarea>
                        <button class="btn btn-primary w-1/3 rounded-2xl py-2 px-3" type="submit">Gửi yêu cầu</button>
                    </form>
                </div>

            </div>

            
        </div>

        <div class="mb-24">
            <h1 class="text-center mb-10 text-4xl font-light">CÔNG NGHỆ MỚI TRONG SẢN XUẤT CỦA MenStore</h1>
            <div class="grid grid-cols-3 gap-8 d-flex justify-center">
                <div>
                    <img src="img/LienHe/vai.png" alt="">
                    <h1 class="text-center mt-4 text-2xl font-light">Công nghệ vải</h1>
                </div>
                <div>
                    <img src="img/LienHe/may.png" alt="">
                    <h1 class="text-center mt-4 text-2xl font-light">Công nghệ may</h1>
                </div>
                <div>
                    <img src="img/LienHe/in.png" alt="">
                    <h1 class="text-center mt-4 text-2xl font-light">Công nghệ in/thêu</h1>
                </div>
            </div>
        </div>

    </article>
    
    </div>
</body>
<script src="js/bootstrap.min.js"></script>
<script src="scrip.js"></script>
</html>