<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&family=Rubik+Glitch&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="build/tailwind.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/angular.min.js"></script>
</head>

<body ng-app="myapp">



    <div class="container-fluid">

        <div class="offcanvas offcanvas-end" id="demo1">
            <div class="offcanvas-header mx-3">
                <h1 class="offcanvas-title text-xl">Giỏ hàng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <hr class="mx-3">
            <div class="offcanvas-body my-2" >
                <div class="row mb-3 d-flex align-items-center" ng-repeat="item in cart">
                    <img src="img/SapPham/{{item.img}}" class=" col-2 w-28 flex-grow-0">
                    <h1 class="col-4 text-base flex-shrink-0">{{item.name}}</h1>
                    <input type="number" value="1" min="0" max="99" ng-model="item.quantity" ng-change="updateTotal(item)"
                        class="border border-dark rounded-xl text-center h-7 col-2 flex-shrink-1">
                    <h1 class="col-2 text-sm flex-shrink-2">{{item.total | currency}}</h1>
                </div>
                
            </div>
            <hr>
            <div class="d-flex justify-between mt-2 mx-3">
                <h1 class="font-bold text-lg">Tổng tiền: </h1>
                <h1 class="font-semibold text-lg">{{ calculateTotal() | currency }}</h1>
            </div>
            <div class="container-fluid mt-2">
                <a class="btn btn-dark w-full" ng-click="proceedToCheckout()">Thanh toán</a>
            </div>
        </div>
        
        <header>
            <div id="demo" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/CM24/bg.jpg" alt="Los Angeles" class="d-block" style="width:100%">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </header>

        <article>
            <div class="mb-4">
                <h1 class="text-3xl font-bold mt-24 ml-10 mb-3">Bạn đang muốn tìm gì?</h1>
                <div>
                    <button class="btn bg-red-600 text-white hover:bg-black w-32 h-12 text-sm rounded-full ml-10">
                        Tất cả
                    </button>
                    <button class="btn btn-outline-dark w-32 h-12 text-sm rounded-full ml-3">
                        Combo
                    </button>
                    <button class="btn btn-outline-dark w-32 h-12 text-sm rounded-full ml-3">
                        Tắm gội
                    </button>
                    <button class="btn btn-outline-dark w-32 h-12 text-sm rounded-full ml-3">
                        Cạo râu
                    </button>
                    <button class="btn btn-outline-dark w-32 h-12 text-sm rounded-full ml-3">
                        Nước hoa nam
                    </button>
                </div>
            </div>
            <div>
                <div class="container-fluid mb-5" ng-controller="myctrl">
                    <div class="p-2 grid grid-cols-3 gap-4 max-w-full md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
                        <div>
                            <img src="img/CM24/title.png" alt="">
                        </div>
                        <div class="shadow-lg" ng-repeat="sp in sanpham">
                            <div>
                                <img src="img/CM24/{{sp.img}}">
                            </div>
                            <div class="mt-3 ml-5">
                                <ul>
                                    <a href="" class="btn btn-dark w-10 h-4"></a>
                                    <a href="" class="btn bg-green-600 border-black hover:bg-green-800 w-10 h-4"></a>
                                </ul>
                                <h3 class="text-black font-light my-1 text-sm">{{sp.name}}</h3>
                                <span class="block text-gray-600 text-xs mt-2">{{sp.title}}</span>
                                <h4 class="font-medium text-black mb-8 mt-2">{{sp.price}}</h4>
                            </div>
                        </div>

                    </div>

                    <div class="p-2 grid grid-cols-2 gap-4 max-w-full md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5">
                        <div>
                            <img src="img/CM24/title1.png" alt="">
                        </div>
                        <div class="shadow-lg" ng-repeat="nh in nuochoa">
                            <div>
                                <img src="img/CM24/{{nh.img}}">
                            </div>
                            <div class="mt-3 ml-5">
                                <ul>
                                    <a href="" class="btn btn-dark w-10 h-4"></a>
                                    <a href="" class="btn bg-green-600 border-black hover:bg-green-800 w-10 h-4"></a>
                                </ul>
                                <h3 class="text-black font-light my-1 text-sm">{{nh.name}}</h3>
                                <span class="block text-gray-600 text-xs mt-2">{{nh.title}}</span>
                                <h4 class="font-medium text-black mb-8 mt-2">{{nh.price}}</h4>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="p-2 grid grid-cols-1 gap-4 md:grid-cols-2 mb-8">
                <div class="d-flex justify-center card">
                    <a href="">
                        <img src="img/CM24/show.png" class="img-fluid card-img-top">
                    </a>
                    <div class="d-flex flex-col card-img-overlay justify-end ml-14 pb-14">
                        <h1 class="card-title text-xl font-medium sm:text-5xl text-black">Sữa tắm gội</h1>
                        <h1 class="card-title text-xl font-medium sm:text-5xl text-black mt-2">500ml</h1>
                        <span class="block text-black font-light text-lg mt-3">Sảng khoái chăm sóc cơ thể với hương <br>
                            thơm
                            nam tính mạnh mẽ</span>
                        <button class="btn btn-primary w-10 text-sm rounded-xl h-12 mt-6 sm:w-28">Mua
                            ngay</button>
                    </div>
                </div>
                <div class="d-flex justify-center card">
                    <a href="">
                        <img src="img/CM24/show1.png" class="img-fluid card-img-top">
                    </a>
                    <div class="d-flex flex-col card-img-overlay justify-end ml-14 pb-14">
                        <h1 class="card-title text-xl font-medium sm:text-5xl text-black">Iconic</h1>
                        <h1 class="card-title text-xl font-medium sm:text-5xl text-black ">Warm</h1>
                        <span class="block text-black font-light text-lg mt-3">Mang đến cho bạn sự ấm áp ngay từ <br>
                            những nốt hương đầu</span>
                        <button class="btn btn-primary w-10 text-sm rounded-xl h-12 mt-6 sm:w-28">Mua
                            ngay</button>
                    </div>
                </div>
            </div>


            <div class=" grid grid-cols-1 md:grid-cols-2 bg-red-100">
                <div class="jumbotron">
                    <div class="p-5 bg-purple-900 text-white rounded">
                        <h1 class="text-6xl mb-5">Câu chuyện CM24</h1>
                        <p class="font-light text-lg mb-5">Vẻ ngoài tự tin không chỉ đến từ một bộ trang phục đẹp, mà
                            còn đến từ cảm giác thoải mái với
                            chính mình trong một diện mạo được chăm chút. CM24 được ra đời để cùng với hệ sinh thái
                            Coolmate trở thành người bạn đồng hành suốt 24h cho phái mạnh Việt Nam, đem tới một trải
                            nghiệm chăm sóc cá nhân tinh tế, tiện lợi với chất lượng hàng đầu.</p>
                        <button class="btn btn-light rounded-full h-14 px-5">Tham gia cộng đồng CM24</button>
                    </div>
                </div>
                <div class="d-flex justify-center">
                    <a href="">
                        <img src="img/CM24/show2.png">
                    </a>
                </div>
            </div>

            <div class="mt-16 mb-10">
                <div class="text-center d-flex justify-content-center align-items-center flex-col mb-10">
                    <img src="img/CM24/logo.png" class="w-16 ">
                    <h1 class="text-3xl w-1/2">Mọi nhu cầu chăm sóc cơ thể và mùi hương của bạn sẽ được giải quyết một
                        cách nhanh gọn, tiện lợi
                        và tiết kiệm với CM24</h1>
                </div>
                <div>
                    <img src="https://media.coolmate.me/cdn-cgi/image/quality=80,format=auto/uploads/January2024/mceclip5_57.png"
                        alt="">
                </div>
            </div>

            <div class="mt-20 mb-20">
                <h1 class="text-center font-bold text-4xl mb-10">"Tips" nhỏ từ MenStore</h1>
                <div
                    class="container-fluid grid grid-cols-2 sm:grid-cols-2  gap-4 relative md:grid-cols-3 xl:grid-cols-4">
                    <button class="absolute z-1 text-3xl" style="top: 50%; left: 1%;"><i
                            class="bi bi-arrow-left-circle-fill"></i></button>
                    <div class="">
                        <a href="">
                            <img src="img/CM24/tip.jpg" class="rounded-2xl">
                        </a>
                        <div class="mt-3">
                            <h1 class="font-bold mb-2">Citrus là gì? Top 05 mùi hương Citrus cho ngày hè sảng khoái</h1>
                            <a href="" class="text-blue-500">Chăm sóc nam giới | 06.07.2023</a>
                        </div>
                    </div>

                    <div>
                        <a href="">
                            <img src="img/CM24/tip1.png" class="rounded-2xl">
                        </a>
                        <div class="mt-3">
                            <h1 class="font-bold mb-2">Hướng dẫn sử dụng dao cạo râu bền bỉ nhất</h1>
                            <a href="" class="text-blue-500">Chăm sóc nam giới | 28.11.2023</a>
                        </div>
                    </div>

                    <div>
                        <a href="">
                            <img src="img/CM24/tip2.png" class="rounded-2xl">
                        </a>
                        <div class="mt-3">
                            <h1 class="font-bold mb-2">Mách bạn bí kíp chọn loại sữa rửa mặt phù hợp cho nam giới</h1>
                            <a href="" class="text-blue-500">Chăm sóc nam giới | 18.02.2023</a>
                        </div>
                    </div>

                    <div>
                        <a href="">
                            <img src="img/CM24/tip3.png" class="rounded-2xl">
                        </a>
                        <div class="mt-3">
                            <h1 class="font-bold mb-2">6 lợi ích bất ngờ của nước hoa nam với quý ông chuẩn men</h1>
                            <a href="" class="text-blue-500">Chăm sóc nam giới | 07.08.2023</a>
                        </div>
                    </div>

                    <button class="absolute z-1 text-3xl" style="top: 50%; right: 1%;"><i
                            class="bi bi-arrow-right-circle-fill"></i></button>

                </div>
            </div>
        </article>


        
    </div>

    <script src="scrip.js"></script>


    <script>
        var app = angular.module("myapp", []);
        app.controller("myctrl", myfunc);
        function myfunc($scope) {

            $scope.sanpham =
                [
                    {
                        "img": "1.jpg",
                        "name": "DISCOVERY Perfume Set by CM24",
                        "title": "Set 5 chai nước Hoa 2ml",
                        "price": "149.000đ"
                    },
                    {
                        "img": "2.jpg",
                        "name": "Bộ Cạo Râu Nam - Shaving Kit CM24",
                        "title": "GKem cạo râu / Lưỡi cạo / Tay cầm",
                        "price": "199.000đ"
                    },
                    {
                        "img": "3.jpg",
                        "name": "Nước Hoa Nam CM24 ICONIC COOL EDP - 50ml",
                        "title": "Hương tươi mát",
                        "price": "519.000đ"
                    },
                    {
                        "img": "4.jpg",
                        "name": "Bộ Chăm Sóc Cơ Thể Nam Grooming Kit CM24",
                        "title": "Sữa tắm / Lăn khử mùi / Kem rửa mặt",
                        "price": "219.000đ"
                    },
                    {
                        "img": "5.jpg",
                        "name": "Nước Hoa Nam CM24 ICONIC WARM EDP - 50ml",
                        "title": "Hương nồng ấm",
                        "price": "519.000đ"
                    },
                    {
                        "img": "6.jpg",
                        "name": "Sữa Tắm Gội 2in1 CM24 500ml",
                        "title": "Hương nước Hoa",
                        "price": "179.000đ"
                    },
                    {
                        "img": "7.jpg",
                        "name": "Combo REFINED 2 Nước hoa CM24",
                        "title": "Special Day & Iconic Warm",
                        "price": "229.000đ"
                    },
                    {
                        "img": "8.jpg",
                        "name": "Set Cạo Râu Nam CM24",
                        "title": "5 Lưỡi +1 / Tay cầm",
                        "price": "89.000đ"
                    },
                    {
                        "img": "9.jpg",
                        "name": "Kem Cạo Râu Có Dưỡng Ẩm CM24",
                        "title": "100ml",
                        "price": "69.000đ"
                    },
                    {
                        "img": "10.jpg",
                        "name": "Bộ 2 Lưỡi dao cạo râu CM24 5 Lưỡi +1",
                        "title": "Sắc bén",
                        "price": "69.000đ"
                    },
                    {
                        "img": "11.jpg",
                        "name": "Bộ 2 Lưỡi dao cạo râu CM24 3 Lưỡi",
                        "title": "Sắc bén",
                        "price": "39.000đ"
                    },
                    {
                        "img": "12.jpg",
                        "name": "Combo Nước Hoa & Sữa tắm gội CM24",
                        "title": "Sạch thơm / Nam tính / ICONIC COOL",
                        "price": "179.000đ"
                    },
                    {
                        "img": "13.jpg",
                        "name": "Combo Nước Hoa & Lăn Khử Mùi CM24",
                        "title": "Hương nam tính / ICONIC COOL",
                        "price": "179.000đ"
                    },
                    {
                        "img": "14.jpg",
                        "name": "Lăn Khử Mùi Nam CM24 50g",
                        "title": "Hương nước Hoa",
                        "price": "79.000đ"
                    }
                ];

            $scope.nuochoa =
                [
                    {
                        "img": "15.jpg",
                        "name": "Combo DAILY 2 Nước hoa CM24",
                        "title": "Everyday & Iconic Cool",
                        "price": "219.000đ"
                    },
                    {
                        "img": "16.jpg",
                        "name": "Combo 2 Nước Hoa CM24 ICONIC EDP - 9ml",
                        "title": "Hương tươi mát / WARM & COOL",
                        "price": "209.000đ"
                    },
                    {
                        "img": "17.jpg",
                        "name": "Sữa tắm gội Nam 2in1 CM24 180ml",
                        "title": "Hương nước Hoa",
                        "price": "79.000đ"
                    },
                    {
                        "img": "18.jpg",
                        "name": "Nước Hoa Nam CM24 ACTIVE DAY EDP 9ml",
                        "title": "Hương năng động",
                        "price": "129.000đ"
                    },
                    {
                        "img": "19.jpg",
                        "name": "Nước Hoa Nam CM24 SPECIAL DAY EDP 9ml",
                        "title": "Hương sang trọng",
                        "price": "129.000đ"
                    },
                    {
                        "img": "20.jpg",
                        "name": "Nước Hoa Nam CM24 ICONIC WARM EDP - 9ml",
                        "title": "Hương nồng ấm",
                        "price": "129.000đ"
                    },
                    {
                        "img": "21.jpg",
                        "name": "Nước Hoa Nam CM24 EVERYDAY EDP 9ml",
                        "title": "Hương nam tính",
                        "price": "129.000đ"
                    },
                    {
                        "img": "22.jpg",
                        "name": "Nước Hoa Nam CM24 ICONIC COOL EDP - 9ml",
                        "title": "Hương tươi mát",
                        "price": "99.000đ"
                    },
                    {
                        "img": "23.jpg",
                        "name": "Kem rửa mặt Nam CM24 100ml",
                        "title": "Charcoal Deep Wash",
                        "price": "99.000đ"
                    }
                ];




        }
    </script>
</body>



</html>